/*------------------------------------*\
    #form style
\*------------------------------------*/

label {
  margin-right: $inuit-base-spacing-unit;
}

input, input[type=text], textarea {
  border: $border;
  @include prefix(border-radius, .2em);
  padding: $inuit-base-spacing-unit--small;
  outline: none;
}

