/*------------------------------------*\
    #form styme
\*------------------------------------*/
label{
    margin-right: $inuit-base-spacing-unit;
}
input{
    border: $border;
    @include prefix(border-radius,.5em);
    background:transparent;
}
input[type=text],textarea{
    max-width: 500px;
    min-width: 300px;
    padding: $inuit-base-spacing-unit--small;
}
input[type=submit]{
    @extend .transition;
    padding: $inuit-base-spacing-unit--small $inuit-base-spacing-unit;
    &:hover{
        background: $gray-light;
        color: white;
    }
}
