body > svg {
  display: none;
}

.svg-basic {
  max-width: 32px;
  max-height: 32px;
  fill: $gray-light;
}
.svg-nav{
  fill: $red;
}
.media__img--svg{
  margin-right: $inuit-base-spacing-unit--small;
}
