.box {
  form{
    padding-top:$inuit-base-spacing-unit;
  }
  .floating-placeholder__label {
    background: $white;
  }
  .form-group-container{
    margin-bottom: $inuit-base-spacing-unit--small;
  }
}
