%svg-common {
	background: url(svg/sprite.view.svg) no-repeat;
}

.svg-a1 {
	@extend %svg-common;
	background-position: 65.43464853778524% 7.477222287115991%;
}

.svg-a1-dims {
	width: 40.77px;
	height: 50.12px;
}

.svg-academic {
	@extend %svg-common;
	background-position: 37.09992722706583% 29.991492797716035%;
}

.svg-academic-dims {
	width: 37.19px;
	height: 41.47px;
}

.svg-adn1 {
	@extend %svg-common;
	background-position: 0 99.88247243180498%;
}

.svg-adn1-dims {
	width: 45.28px;
	height: 45.8px;
}

.svg-amount {
	@extend %svg-common;
	background-position: 58.875877537941676% 42.09770114942529%;
}

.svg-amount-dims {
	width: 51.42px;
	height: 45.96px;
}

.svg-application5 {
	@extend %svg-common;
	background-position: 92.4054618841783% 75.84795576261591%;
}

.svg-application5-dims {
	width: 39.34px;
	height: 45.99px;
}

.svg-audio7 {
	@extend %svg-common;
	background-position: 27.28389352908875% 92.7430681242308%;
}

.svg-audio7-dims {
	width: 45.98px;
	height: 44.35px;
}

.svg-audiobook {
	@extend %svg-common;
	background-position: 86.25117981866545% 78.46140508048435%;
}

.svg-audiobook-dims {
	width: 38.74px;
	height: 42.94px;
}

.svg-avi1 {
	@extend %svg-common;
	background-position: 7.0201976546518% 79.18888209072632%;
}

.svg-avi1-dims {
	width: 43.86px;
	height: 48.54px;
}

.svg-b5 {
	@extend %svg-common;
	background-position: 29.67020426794477% 22.50724993146831%;
}

.svg-b5-dims {
	width: 36.96px;
	height: 41.89px;
}

.svg-bag {
	@extend %svg-common;
	background-position: 6.339650145772595% 15.226939970717423%;
}

.svg-bag-dims {
	width: 52px;
	height: 52px;
}

.svg-big52 {
	@extend %svg-common;
	background-position: 86.51967464746302% 13.98705896007428%;
}

.svg-big52-dims {
	width: 40.91px;
	height: 45.72px;
}

.svg-big55 {
	@extend %svg-common;
	background-position: 12.97654909987172% 99.71030866611626%;
}

.svg-big55-dims {
	width: 44.21px;
	height: 44.61px;
}

.svg-big56 {
	@extend %svg-common;
	background-position: 0 86.24490390215492%;
}

.svg-big56-dims {
	width: 46.61px;
	height: 48.2px;
}

.svg-big57 {
	@extend %svg-common;
	background-position: 72.35994871868743% 57.70758491778382%;
}

.svg-big57-dims {
	width: 43.79px;
	height: 50.22px;
}

.svg-book13 {
	@extend %svg-common;
	background-position: 20.655970549444174% 85.9333517097303%;
}

.svg-book13-dims {
	width: 48.03px;
	height: 45.71px;
}

.svg-book7 {
	@extend %svg-common;
	background-position: 0 22.840409956076133%;
}

.svg-book7-dims {
	width: 52px;
	height: 52px;
}

.svg-book9 {
	@extend %svg-common;
	background-position: 20.639576890841305% 92.7430681242308%;
}

.svg-book9-dims {
	width: 45.98px;
	height: 44.35px;
}

.svg-brain2 {
	@extend %svg-common;
	background-position: 15.160349854227405% 22.840409956076133%;
}

.svg-brain2-dims {
	width: 52px;
	height: 52px;
}

.svg-bulb1 {
	@extend %svg-common;
	background-position: 91.90820568304765% 20.90627319160082%;
}

.svg-bulb1-dims {
	width: 35.56px;
	height: 47.79px;
}

.svg-bulk {
	@extend %svg-common;
	background-position: 35.22719048101559% 70.98997223301248%;
}

.svg-bulk-dims {
	width: 47.17px;
	height: 39.93px;
}

.svg-calendar5 {
	@extend %svg-common;
	background-position: 80.35309832162147% 33.65896980461812%;
}

.svg-calendar5-dims {
	width: 49.24px;
	height: 48.14px;
}

.svg-canvas {
	@extend %svg-common;
	background-position: 99.21012192845141% 34.24717271855104%;
}

.svg-canvas-dims {
	width: 41.69px;
	height: 47.06px;
}

.svg-certificate {
	@extend %svg-common;
	background-position: 36.40087463556851% 15.032594712573898%;
}

.svg-certificate-dims {
	width: 52px;
	height: 43.17px;
}

.svg-chemical {
	@extend %svg-common;
	background-position: 36.40087463556851% 21.33424176971138%;
}

.svg-chemical-dims {
	width: 52px;
	height: 45.17px;
}

.svg-chemistry {
	@extend %svg-common;
	background-position: 72.99928792524669% 64.43348185868874%;
}

.svg-chemistry-dims {
	width: 49.87px;
	height: 43.76px;
}

.svg-cinema2 {
	@extend %svg-common;
	background-position: 65.93871946813124% 0;
}

.svg-cinema2-dims {
	width: 46.1px;
	height: 51.21px;
}

.svg-cinema3 {
	@extend %svg-common;
	background-position: 14.484788724224936% 71.49190802532634%;
}

.svg-cinema3-dims {
	width: 48.38px;
	height: 44.81px;
}

.svg-clock4 {
	@extend %svg-common;
	background-position: 0 72.05145802607944%;
}

.svg-clock4-dims {
	width: 50.17px;
	height: 50.17px;
}

.svg-clock5 {
	@extend %svg-common;
	background-position: 86.65641747726261% 59.662419184541285%;
}

.svg-clock5-dims {
	width: 42.01px;
	height: 43.61px;
}

.svg-computer12 {
	@extend %svg-common;
	background-position: 80.30179918746373% 61.263608987722954%;
}

.svg-computer12-dims {
	width: 48.8px;
	height: 44.28px;
}

.svg-correct2 {
	@extend %svg-common;
	background-position: 0 38.06734992679356%;
}

.svg-correct2-dims {
	width: 52px;
	height: 52px;
}

.svg-creche {
	@extend %svg-common;
	background-position: 7.580174927113703% 38.06734992679356%;
}

.svg-creche-dims {
	width: 52px;
	height: 52px;
}

.svg-curriculum {
	@extend %svg-common;
	background-position: 15.160349854227405% 38.06734992679356%;
}

.svg-curriculum-dims {
	width: 52px;
	height: 52px;
}

.svg-deleted {
	@extend %svg-common;
	background-position: 22.740524781341108% 37.59833410458121%;
}

.svg-deleted-dims {
	width: 52px;
	height: 43.48px;
}

.svg-desktop {
	@extend %svg-common;
	background-position: 30.32069970845481% 37.59181076860795%;
}

.svg-desktop-dims {
	width: 52px;
	height: 43.36px;
}

.svg-diary1 {
	@extend %svg-common;
	background-position: 51.34548104956268% 0;
}

.svg-diary1-dims {
	width: 52px;
	height: 52px;
}

.svg-document5 {
	@extend %svg-common;
	background-position: 51.34548104956268% 7.613469985358711%;
}

.svg-document5-dims {
	width: 52px;
	height: 52px;
}

.svg-document6 {
	@extend %svg-common;
	background-position: 86.71372909867296% 72.24310414618631%;
}

.svg-document6-dims {
	width: 42.47px;
	height: 43.28px;
}

.svg-dotplot {
	@extend %svg-common;
	background-position: 65.89395843262996% 57.32188742624998%;
}

.svg-dotplot-dims {
	width: 45.63px;
	height: 38.39px;
}

.svg-download4 {
	@extend %svg-common;
	background-position: 51.34548104956268% 30.453879941434845%;
}

.svg-download4-dims {
	width: 52px;
	height: 52px;
}

.svg-download8 {
	@extend %svg-common;
	background-position: 21.48498065525786% 71.25240068735468%;
}

.svg-download8-dims {
	width: 47.89px;
	height: 42.49px;
}

.svg-draw {
	@extend %svg-common;
	background-position: 65.17105921005643% 14.791405132397163%;
}

.svg-draw-dims {
	width: 37.95px;
	height: 49.94px;
}

.svg-earth2 {
	@extend %svg-common;
	background-position: 79.62363502956538% 54.549562023582226%;
}

.svg-earth2-dims {
	width: 42.93px;
	height: 48.89px;
}

.svg-education {
	@extend %svg-common;
	background-position: 7.580174927113703% 45.680819912152266%;
}

.svg-education-dims {
	width: 52px;
	height: 52px;
}

.svg-education1 {
	@extend %svg-common;
	background-position: 0 93.21681171231481%;
}

.svg-education1-dims {
	width: 47.85px;
	height: 47.86px;
}

.svg-education2 {
	@extend %svg-common;
	background-position: 99.88721641434954% 85.2084267144778%;
}

.svg-education2-dims {
	width: 46.41px;
	height: 43.39px;
}

.svg-education3 {
	@extend %svg-common;
	background-position: 43.65269980901673% 15.226939970717423%;
}

.svg-education3-dims {
	width: 46.84px;
	height: 52px;
}

.svg-educational {
	@extend %svg-common;
	background-position: 22.740524781341108% 45.680819912152266%;
}

.svg-educational-dims {
	width: 52px;
	height: 52px;
}

.svg-educational1 {
	@extend %svg-common;
	background-position: 41.21587480329739% 85.72441640013314%;
}

.svg-educational1-dims {
	width: 45.33px;
	height: 44.03px;
}

.svg-encyclopedia {
	@extend %svg-common;
	background-position: 73.13106902124068% 0;
}

.svg-encyclopedia-dims {
	width: 51.11px;
	height: 51.12px;
}

.svg-favorite5 {
	@extend %svg-common;
	background-position: 19.78568528507627% 78.83745214061955%;
}

.svg-favorite5-dims {
	width: 48.36px;
	height: 45.48px;
}

.svg-fifteen {
	@extend %svg-common;
	background-position: 73.05236827945262% 36.20495742225728%;
}

.svg-fifteen-dims {
	width: 50.37px;
	height: 50.37px;
}

.svg-file3 {
	@extend %svg-common;
	background-position: 99.92333728700784% 47.539177454661434%;
}

.svg-file3-dims {
	width: 46.66px;
	height: 45.19px;
}

.svg-filing {
	@extend %svg-common;
	background-position: 0 58.00904456030187%;
}

.svg-filing-dims {
	width: 51.3px;
	height: 40.66px;
}

.svg-first4 {
	@extend %svg-common;
	background-position: 14.788875650228125% 52.117636951977325%;
}

.svg-first4-dims {
	width: 49.78px;
	height: 36.58px;
}

.svg-first5 {
	@extend %svg-common;
	background-position: 86.71497584541063% 0;
}

.svg-first5-dims {
	width: 42.48px;
	height: 48.31px;
}

.svg-flag4 {
	@extend %svg-common;
	background-position: 86.25858123569793% 33.829352129835094%;
}

.svg-flag4-dims {
	width: 38.8px;
	height: 45.51px;
}

.svg-football1 {
	@extend %svg-common;
	background-position: 58.92565597667638% 0;
}

.svg-football1-dims {
	width: 52px;
	height: 46.7px;
}

.svg-foreign {
	@extend %svg-common;
	background-position: 99.45293042138753% 27.401183328729886%;
}

.svg-foreign-dims {
	width: 43.39px;
	height: 47.11px;
}

.svg-forms {
	@extend %svg-common;
	background-position: 45.481049562682216% 45.680819912152266%;
}

.svg-forms-dims {
	width: 52px;
	height: 52px;
}

.svg-geography {
	@extend %svg-common;
	background-position: 37.90087463556851% 45.680819912152266%;
}

.svg-geography-dims {
	width: 52px;
	height: 52px;
}

.svg-glasses {
	@extend %svg-common;
	background-position: 14.62118689464464% 63.79513739030354%;
}

.svg-glasses-dims {
	width: 47.29px;
	height: 39.9px;
}

.svg-glasses1 {
	@extend %svg-common;
	background-position: 13.847111445652331% 92.74709681156062%;
}

.svg-glasses1-dims {
	width: 47.17px;
	height: 44.38px;
}

.svg-graph {
	@extend %svg-common;
	background-position: 99.89588304195046% 79.06722797741345%;
}

.svg-graph-dims {
	width: 46.47px;
	height: 39.01px;
}

.svg-guitar {
	@extend %svg-common;
	background-position: 73.0396219556525% 28.845620134090943%;
}

.svg-guitar-dims {
	width: 50.25px;
	height: 50.39px;
}

.svg-hand {
	@extend %svg-common;
	background-position: 6.932873556556889% 93.21002924955252%;
}

.svg-hand-dims {
	width: 47.81px;
	height: 47.81px;
}

.svg-hierarchical {
	@extend %svg-common;
	background-position: 0 64.73482138946876%;
}

.svg-hierarchical-dims {
	width: 51.16px;
	height: 49.99px;
}

.svg-homework {
	@extend %svg-common;
	background-position: 7.580174927113703% 30.453879941434845%;
}

.svg-homework-dims {
	width: 52px;
	height: 52px;
}

.svg-icloud {
	@extend %svg-common;
	background-position: 27.599942062572424% 85.81134918220405%;
}

.svg-icloud-dims {
	width: 47.6px;
	height: 44.73px;
}

.svg-icloud1 {
	@extend %svg-common;
	background-position: 80.28781988046191% 40.716284764736756%;
}

.svg-icloud1-dims {
	width: 48.68px;
	height: 48.96px;
}

.svg-images {
	@extend %svg-common;
	background-position: 54.266093429898724% 85.66986303351122%;
}

.svg-images-dims {
	width: 44.86px;
	height: 43.59px;
}

.svg-information2 {
	@extend %svg-common;
	background-position: 99.97105685880089% 0;
}

.svg-information2-dims {
	width: 46.99px;
	height: 47.16px;
}

.svg-injection {
	@extend %svg-common;
	background-position: 73.04387023600064% 43.557126374669565%;
}

.svg-injection-dims {
	width: 50.29px;
	height: 50.29px;
}

.svg-insignia {
	@extend %svg-common;
	background-position: 79.0809327846365% 68.11710359500458%;
}

.svg-insignia-dims {
	width: 38.16px;
	height: 48.77px;
}

.svg-ipad {
	@extend %svg-common;
	background-position: 92.4954869767042% 55.51596765749519%;
}

.svg-ipad-dims {
	width: 40.02px;
	height: 47.36px;
}

.svg-keyboard2 {
	@extend %svg-common;
	background-position: 80.31461782931113% 47.64593190328292%;
}

.svg-keyboard2-dims {
	width: 48.91px;
	height: 45.98px;
}

.svg-leaf4 {
	@extend %svg-common;
	background-position: 99.9190014030114% 60.98028676438543%;
}

.svg-leaf4-dims {
	width: 46.63px;
	height: 46.63px;
}

.svg-lecture {
	@extend %svg-common;
	background-position: 58.87416254005243% 49.155939145699236%;
}

.svg-lecture-dims {
	width: 51.4px;
	height: 51.4px;
}

.svg-lecture1 {
	@extend %svg-common;
	background-position: 0 7.613469985358711%;
}

.svg-lecture1-dims {
	width: 42.86px;
	height: 52px;
}

.svg-library {
	@extend %svg-common;
	background-position: 28.82069970845481% 7.499062617172854%;
}

.svg-library-dims {
	width: 52px;
	height: 41.58px;
}

.svg-look {
	@extend %svg-common;
	background-position: 7.434209570309663% 64.02448708508395%;
}

.svg-look-dims {
	width: 49.83px;
	height: 42.39px;
}

.svg-looking1 {
	@extend %svg-common;
	background-position: 65.8949101623433% 29.363167958430033%;
}

.svg-looking1-dims {
	width: 45.64px;
	height: 49.89px;
}

.svg-looking2 {
	@extend %svg-common;
	background-position: 86.69877093365918% 7.033047022856311%;
}

.svg-looking2-dims {
	width: 42.35px;
	height: 48.1px;
}

.svg-magnet2 {
	@extend %svg-common;
	background-position: 93.12254788829911% 41.71976375432777%;
}

.svg-magnet2-dims {
	width: 44.72px;
	height: 47.58px;
}

.svg-mail4 {
	@extend %svg-common;
	background-position: 7.431659157745296% 57.96563336499439%;
}

.svg-mail4-dims {
	width: 47.71px;
	height: 40.14px;
}

.svg-mathematical {
	@extend %svg-common;
	background-position: 99.92189195053156% 54.20498293019539%;
}

.svg-mathematical-dims {
	width: 46.65px;
	height: 46.65px;
}

.svg-mathematical1 {
	@extend %svg-common;
	background-position: 99.89588304195046% 73.46226238882743%;
}

.svg-mathematical1-dims {
	width: 46.47px;
	height: 39.01px;
}

.svg-measure {
	@extend %svg-common;
	background-position: 73.08212700952936% 14.472689197836077%;
}

.svg-measure-dims {
	width: 50.65px;
	height: 47.36px;
}

.svg-measuring {
	@extend %svg-common;
	background-position: 80.38460979825416% 7.11179627394232%;
}

.svg-measuring-dims {
	width: 49.51px;
	height: 47.41px;
}

.svg-meeting {
	@extend %svg-common;
	background-position: 99.93634719710668% 40.98125353399156%;
}

.svg-meeting-dims {
	width: 46.75px;
	height: 45.27px;
}

.svg-microscope {
	@extend %svg-common;
	background-position: 86.10587630632173% 53.32648306004602%;
}

.svg-microscope-dims {
	width: 37.56px;
	height: 44.03px;
}

.svg-molecules1 {
	@extend %svg-common;
	background-position: 92.66409266409266% 13.94330121954769%;
}

.svg-molecules1-dims {
	width: 41.29px;
	height: 47.86px;
}

.svg-mouse2 {
	@extend %svg-common;
	background-position: 28.39606253618993% 71.24005601836477%;
}

.svg-mouse2-dims {
	width: 47.2px;
	height: 42.37px;
}

.svg-museum2 {
	@extend %svg-common;
	background-position: 86.54947262682069% 46.91433123325367%;
}

.svg-museum2-dims {
	width: 41.15px;
	height: 44.55px;
}

.svg-music12 {
	@extend %svg-common;
	background-position: 47.7594271525091% 85.72441640013314%;
}

.svg-music12-dims {
	width: 45.32px;
	height: 44.03px;
}

.svg-music13 {
	@extend %svg-common;
	background-position: 33.32903318282807% 78.25523645001078%;
}

.svg-music13-dims {
	width: 40.35px;
	height: 40.35px;
}

.svg-necktie {
	@extend %svg-common;
	background-position: 91.16841302567289% 27.855615206669285%;
}

.svg-necktie-dims {
	width: 29.86px;
	height: 47.67px;
}

.svg-new5 {
	@extend %svg-common;
	background-position: 28.82069970845481% 13.533095200219815%;
}

.svg-new5-dims {
	width: 52px;
	height: 43.51px;
}

.svg-notifications {
	@extend %svg-common;
	background-position: 36.40087463556851% 0;
}

.svg-notifications-dims {
	width: 52px;
	height: 52px;
}

.svg-numbers {
	@extend %svg-common;
	background-position: 80.38344226579522% 13.833867191427627%;
}

.svg-numbers-dims {
	width: 49.5px;
	height: 38.81px;
}

.svg-olympic {
	@extend %svg-common;
	background-position: 22.740524781341108% 30.202706627170823%;
}

.svg-olympic-dims {
	width: 52px;
	height: 46.32px;
}

.svg-online {
	@extend %svg-common;
	background-position: 58.889601118848525% 19.818831035794773%;
}

.svg-online-dims {
	width: 51.58px;
	height: 51.66px;
}

.svg-online1 {
	@extend %svg-common;
	background-position: 30.32069970845481% 45.680819912152266%;
}

.svg-online1-dims {
	width: 52px;
	height: 52px;
}

.svg-online2 {
	@extend %svg-common;
	background-position: 58.889601118848525% 12.258904791172771%;
}

.svg-online2-dims {
	width: 51.58px;
	height: 51.66px;
}

.svg-open14 {
	@extend %svg-common;
	background-position: 26.772805632415363% 78.53448524950157%;
}

.svg-open14-dims {
	width: 47.71px;
	height: 42.82px;
}

.svg-paper9 {
	@extend %svg-common;
	background-position: 0 52.28232455258395%;
}

.svg-paper9-dims {
	width: 52px;
	height: 38.78px;
}

.svg-paperclip {
	@extend %svg-common;
	background-position: 73.09701546834302% 7.445383046897756%;
}

.svg-paperclip-dims {
	width: 50.79px;
	height: 48.4px;
}

.svg-paragraph9 {
	@extend %svg-common;
	background-position: 58.92565597667638% 6.691215451406302%;
}

.svg-paragraph9-dims {
	width: 52px;
	height: 37.07px;
}

.svg-pdf {
	@extend %svg-common;
	background-position: 13.338807733310283% 79.18888209072632%;
}

.svg-pdf-dims {
	width: 43.86px;
	height: 48.54px;
}

.svg-pdf2 {
	@extend %svg-common;
	background-position: 60.725825063466424% 85.66119048996354%;
}

.svg-pdf2-dims {
	width: 44.72px;
	height: 43.52px;
}

.svg-pen22 {
	@extend %svg-common;
	background-position: 71.01475910427506% 21.46113383985973%;
}

.svg-pen22-dims {
	width: 30.64px;
	height: 50.6px;
}

.svg-pencil7 {
	@extend %svg-common;
	background-position: 42.65658136575711% 30.453879941434845%;
}

.svg-pencil7-dims {
	width: 30.7px;
	height: 52px;
}

.svg-pencil8 {
	@extend %svg-common;
	background-position: 57.14063582262556% 34.90988355082217%;
}

.svg-pencil8-dims {
	width: 30.57px;
	height: 51.44px;
}

.svg-physical {
	@extend %svg-common;
	background-position: 65.37838728630182% 43.90350685171403%;
}

.svg-physical-dims {
	width: 40.17px;
	height: 49.77px;
}

.svg-physics {
	@extend %svg-common;
	background-position: 43.659648361189504% 22.840409956076133%;
}

.svg-physics-dims {
	width: 46.95px;
	height: 52px;
}

.svg-picture5 {
	@extend %svg-common;
	background-position: 44.896438041998145% 78.25523645001078%;
}

.svg-picture5-dims {
	width: 40.35px;
	height: 40.35px;
}

.svg-pie3 {
	@extend %svg-common;
	background-position: 33.85678029647574% 92.65050481673272%;
}

.svg-pie3-dims {
	width: 44.52px;
	height: 43.66px;
}

.svg-pillar {
	@extend %svg-common;
	background-position: 92.88005869743486% 34.79064218581779%;
}

.svg-pillar-dims {
	width: 42.91px;
	height: 47.66px;
}

.svg-placard {
	@extend %svg-common;
	background-position: 15.160349854227405% 45.680819912152266%;
}

.svg-placard-dims {
	width: 52px;
	height: 52px;
}

.svg-planet1 {
	@extend %svg-common;
	background-position: 43.50666205225818% 7.613469985358711%;
}

.svg-planet1-dims {
	width: 44.52px;
	height: 52px;
}

.svg-play6 {
	@extend %svg-common;
	background-position: 39.112735612413104% 78.25523645001078%;
}

.svg-play6-dims {
	width: 40.35px;
	height: 40.35px;
}

.svg-play7 {
	@extend %svg-common;
	background-position: 6.531554273350162% 99.73920224865616%;
}

.svg-play7-dims {
	width: 44.75px;
	height: 44.81px;
}

.svg-power {
	@extend %svg-common;
	background-position: 0 45.680819912152266%;
}

.svg-power-dims {
	width: 52px;
	height: 52px;
}

.svg-protractor {
	@extend %svg-common;
	background-position: 37.90087463556851% 37.344517537559966%;
}

.svg-protractor-dims {
	width: 52px;
	height: 38.78px;
}

.svg-pushpin {
	@extend %svg-common;
	background-position: 86.47749594941429% 40.40937028876261%;
}

.svg-pushpin-dims {
	width: 40.57px;
	height: 45.16px;
}

.svg-q {
	@extend %svg-common;
	background-position: 99.69693033727324% 6.855747285176409%;
}

.svg-q-dims {
	width: 45.09px;
	height: 47.11px;
}

.svg-quarter {
	@extend %svg-common;
	background-position: 19.34544825697857% 99.63382157123836%;
}

.svg-quarter-dims {
	width: 44.09px;
	height: 44.08px;
}

.svg-research {
	@extend %svg-common;
	background-position: 51.34548104956268% 37.73092048934101%;
}

.svg-research-dims {
	width: 52px;
	height: 45.91px;
}

.svg-robot3 {
	@extend %svg-common;
	background-position: 99.45293042138753% 13.704225966360902%;
}

.svg-robot3-dims {
	width: 43.39px;
	height: 47.11px;
}

.svg-rubber3 {
	@extend %svg-common;
	background-position: 99.91611102272235% 67.58342872875339%;
}

.svg-rubber3-dims {
	width: 46.61px;
	height: 44.89px;
}

.svg-schedule {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-schedule-dims {
	width: 52px;
	height: 52px;
}

.svg-school1 {
	@extend %svg-common;
	background-position: 80.37176880627361% 19.63297153567848%;
}

.svg-school1-dims {
	width: 49.4px;
	height: 46.77px;
}

.svg-school4 {
	@extend %svg-common;
	background-position: 7.289184634160517% 71.87304269296315%;
}

.svg-school4-dims {
	width: 49.72px;
	height: 48.47px;
}

.svg-school6 {
	@extend %svg-common;
	background-position: 51.34548104956268% 15.226939970717423%;
}

.svg-school6-dims {
	width: 52px;
	height: 52px;
}

.svg-school7 {
	@extend %svg-common;
	background-position: 30.32069970845481% 30.07649261824544%;
}

.svg-school7-dims {
	width: 52px;
	height: 43.43px;
}

.svg-schoolclass {
	@extend %svg-common;
	background-position: 43.88636760342119% 0;
}

.svg-schoolclass-dims {
	width: 50.52px;
	height: 52px;
}

.svg-science {
	@extend %svg-common;
	background-position: 15.160349854227405% 30.453879941434845%;
}

.svg-science-dims {
	width: 52px;
	height: 52px;
}

.svg-science1 {
	@extend %svg-common;
	background-position: 0 30.453879941434845%;
}

.svg-science1-dims {
	width: 52px;
	height: 52px;
}

.svg-science2 {
	@extend %svg-common;
	background-position: 65.8949101623433% 51.086988197581235%;
}

.svg-science2-dims {
	width: 45.64px;
	height: 48.7px;
}

.svg-set1 {
	@extend %svg-common;
	background-position: 99.86122555184527% 91.859401541879%;
}

.svg-set1-dims {
	width: 46.23px;
	height: 46.23px;
}

.svg-shake {
	@extend %svg-common;
	background-position: 36.40087463556851% 7.613469985358711%;
}

.svg-shake-dims {
	width: 52px;
	height: 52px;
}

.svg-shelf {
	@extend %svg-common;
	background-position: 58.20865433076535% 27.373950194598073%;
}

.svg-shelf-dims {
	width: 43.55px;
	height: 51.54px;
}

.svg-shopping7 {
	@extend %svg-common;
	background-position: 22.740524781341108% 22.840409956076133%;
}

.svg-shopping7-dims {
	width: 52px;
	height: 52px;
}

.svg-signature2 {
	@extend %svg-common;
	background-position: 93.18841207292253% 0;
}

.svg-signature2-dims {
	width: 45.21px;
	height: 47.91px;
}

.svg-small53 {
	@extend %svg-common;
	background-position: 13.693547452026202% 86.22481658320716%;
}

.svg-small53-dims {
	width: 48.04px;
	height: 48.04px;
}

.svg-small54 {
	@extend %svg-common;
	background-position: 91.58615993531089% 62.39966263378315%;
}

.svg-small54-dims {
	width: 33.09px;
	height: 47.32px;
}

.svg-smartphone {
	@extend %svg-common;
	background-position: 86.42916511421282% 20.615281967974006%;
}

.svg-smartphone-dims {
	width: 40.18px;
	height: 45.56px;
}

.svg-smartphone2 {
	@extend %svg-common;
	background-position: 85.72890607232203% 27.22354374564864%;
}

.svg-smartphone2-dims {
	width: 34.48px;
	height: 45.56px;
}

.svg-stage {
	@extend %svg-common;
	background-position: 14.809118999814887% 7.613469985358711%;
}

.svg-stage-dims {
	width: 35.73px;
	height: 52px;
}

.svg-steps {
	@extend %svg-common;
	background-position: 7.555723460521345% 52.15497478221%;
}

.svg-steps-dims {
	width: 49.78px;
	height: 37.08px;
}

.svg-stethoscope2 {
	@extend %svg-common;
	background-position: 92.21276352625264% 48.62714871586049%;
}

.svg-stethoscope2-dims {
	width: 37.88px;
	height: 47.38px;
}

.svg-student {
	@extend %svg-common;
	background-position: 92.66675278818413% 6.972784165332557%;
}

.svg-student-dims {
	width: 41.31px;
	height: 47.9px;
}

.svg-table {
	@extend %svg-common;
	background-position: 92.60428022261748% 69.16510604938807%;
}

.svg-table-dims {
	width: 40.84px;
	height: 46.17px;
}

.svg-tablet2 {
	@extend %svg-common;
	background-position: 0 79.21080624244101%;
}

.svg-tablet2-dims {
	width: 48.73px;
	height: 48.73px;
}

.svg-tactil1 {
	@extend %svg-common;
	background-position: 7.580174927113703% 22.840409956076133%;
}

.svg-tactil1-dims {
	width: 52px;
	height: 52px;
}

.svg-talking {
	@extend %svg-common;
	background-position: 73.04068397941083% 50.63193677726771%;
}

.svg-talking-dims {
	width: 50.26px;
	height: 46.64px;
}

.svg-teach {
	@extend %svg-common;
	background-position: 6.753800008694014% 86.22732698634522%;
}

.svg-teach-dims {
	width: 47.87px;
	height: 48.06px;
}

.svg-teacher {
	@extend %svg-common;
	background-position: 28.82069970845481% 0;
}

.svg-teacher-dims {
	width: 52px;
	height: 52px;
}

.svg-telescope {
	@extend %svg-common;
	background-position: 80.4044630404463% 0;
}

.svg-telescope-dims {
	width: 49.68px;
	height: 48.9px;
}

.svg-the25 {
	@extend %svg-common;
	background-position: 21.344737261031273% 15.226939970717423%;
}

.svg-the25-dims {
	width: 47.01px;
	height: 52px;
}

.svg-thought {
	@extend %svg-common;
	background-position: 99.45293042138753% 20.552704647545394%;
}

.svg-thought-dims {
	width: 43.39px;
	height: 47.11px;
}

.svg-time2 {
	@extend %svg-common;
	background-position: 86.11202330130357% 65.97000245881485%;
}

.svg-time2-dims {
	width: 37.61px;
	height: 43.61px;
}

.svg-uniform {
	@extend %svg-common;
	background-position: 65.72782804126088% 36.63932751525058%;
}

.svg-uniform-dims {
	width: 43.88px;
	height: 49.78px;
}

.svg-university {
	@extend %svg-common;
	background-position: 13.919825072886297% 15.226939970717423%;
}

.svg-university-dims {
	width: 52px;
	height: 52px;
}

.svg-university1 {
	@extend %svg-common;
	background-position: 65.4947673667437% 22.07998832287257%;
}

.svg-university1-dims {
	width: 41.41px;
	height: 49.9px;
}

.svg-university2 {
	@extend %svg-common;
	background-position: 14.339507871449882% 57.908130256631445%;
}

.svg-university2-dims {
	width: 47.53px;
	height: 39.45px;
}

.svg-unknown {
	@extend %svg-common;
	background-position: 34.48151043928995% 85.74303002229233%;
}

.svg-unknown-dims {
	width: 47.34px;
	height: 44.18px;
}

.svg-unknown1 {
	@extend %svg-common;
	background-position: 79.05269322515677% 26.526177628700598%;
}

.svg-unknown1-dims {
	width: 37.91px;
	height: 49.3px;
}

.svg-virus {
	@extend %svg-common;
	background-position: 0 15.226939970717423%;
}

.svg-virus-dims {
	width: 43.49px;
	height: 52px;
}

.svg-wagon {
	@extend %svg-common;
	background-position: 21.197265056735525% 6.797950219619326%;
}

.svg-wagon-dims {
	width: 50.6px;
	height: 52px;
}

.svg-wall3 {
	@extend %svg-common;
	background-position: 21.240524781341108% 0;
}

.svg-wall3-dims {
	width: 52px;
	height: 46.43px;
}

.svg-window10 {
	@extend %svg-common;
	background-position: 14.936305275100892% 0;
}

.svg-window10-dims {
	width: 41.71px;
	height: 52px;
}

.svg-window11 {
	@extend %svg-common;
	background-position: 6.168681635002879% 7.613469985358711%;
}

.svg-window11-dims {
	width: 43.2px;
	height: 52px;
}

.svg-window8 {
	@extend %svg-common;
	background-position: 93.11583228765522% 82.5083801314701%;
}

.svg-window8-dims {
	width: 44.67px;
	height: 45.87px;
}

.svg-window9 {
	@extend %svg-common;
	background-position: 50.664537844135666% 22.840409956076133%;
}

.svg-window9-dims {
	width: 42.78px;
	height: 52px;
}

.svg-working1 {
	@extend %svg-common;
	background-position: 7.580174927113703% 0;
}

.svg-working1-dims {
	width: 52px;
	height: 52px;
}

