%svg-common {
	background: url(svg/sprite.view.svg) no-repeat;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 25% 0;
}

.svg-calendar-dims {
	width: 52px;
	height: 52px;
}

.svg-classes {
	@extend %svg-common;
	background-position: 99.97116216476016% 33.320517749583495%;
}

.svg-classes-dims {
	width: 51.94px;
	height: 51.94px;
}

.svg-collegues {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
}

.svg-collegues-dims {
	width: 52px;
	height: 52px;
}

.svg-columns {
	@extend %svg-common;
	background-position: 25% 33.333333333333336%;
}

.svg-columns-dims {
	width: 52px;
	height: 52px;
}

.svg-compte {
	@extend %svg-common;
	background-position: 98.87811370983076% 65.63526142965395%;
}

.svg-compte-dims {
	width: 49.64px;
	height: 49.64px;
}

.svg-cours {
	@extend %svg-common;
	background-position: 50% 33.333333333333336%;
}

.svg-cours-dims {
	width: 52px;
	height: 52px;
}

.svg-create {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
}

.svg-create-dims {
	width: 52px;
	height: 52px;
}

.svg-down {
	@extend %svg-common;
	background-position: 25% 66.66666666666667%;
}

.svg-down-dims {
	width: 52px;
	height: 52px;
}

.svg-edit {
	@extend %svg-common;
	background-position: 50% 66.66666666666667%;
}

.svg-edit-dims {
	width: 52px;
	height: 52px;
}

.svg-home {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-home-dims {
	width: 52px;
	height: 52px;
}

.svg-import {
	@extend %svg-common;
	background-position: 75% 33.333333333333336%;
}

.svg-import-dims {
	width: 52px;
	height: 52px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 75% 66.66666666666667%;
}

.svg-logo-dims {
	width: 52px;
	height: 52px;
}

.svg-logo-white {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-logo-white-dims {
	width: 52px;
	height: 52px;
}

.svg-man307 {
	@extend %svg-common;
	background-position: 25% 100%;
}

.svg-man307-dims {
	width: 52px;
	height: 52px;
}

.svg-notifications {
	@extend %svg-common;
	background-position: 50% 100%;
}

.svg-notifications-dims {
	width: 52px;
	height: 52px;
}

.svg-power {
	@extend %svg-common;
	background-position: 75% 100%;
}

.svg-power-dims {
	width: 52px;
	height: 52px;
}

.svg-students {
	@extend %svg-common;
	background-position: 75% 0;
}

.svg-students-dims {
	width: 52px;
	height: 52px;
}

.svg-trash {
	@extend %svg-common;
	background-position: 50% 0;
}

.svg-trash-dims {
	width: 52px;
	height: 52px;
}

.svg-user {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-user-dims {
	width: 52px;
	height: 52px;
}

