/*------------------------------------*\
    #nav
\*------------------------------------*/
.main-nav{
  position: fixed;
  bottom: 0;
  right:0;
  left: 0;
  z-index: 10;
  background: $white;
  padding-left: 0;
  display: flex;
  -webkit-flex-direction:row;
  -moz-flex-direction:row;
  -ms-flex-direction:row;
  -o-flex-direction:row;
  flex-direction:row;
}

.main-nav__item{
  padding: $inuit-base-spacing-unit--small;
  text-align: center;
  overflow: hidden;
  display: flex;
  -webkit-flex-direction:column;
  -moz-flex-direction:column;
  -ms-flex-direction:column;
  -o-flex-direction:column;
  flex-direction:column;
  text-decoration: none;
  font-size:$inuit-heading-size-6;
  justify-content: center;
  width: 20%;
  color: $beige-dark;
}


.main-nav__item--active{
  background: $beige-light;
}

@media (min-width: $palm) {
  .main-nav{
    top: 45px;
    width:$nav-width;
    right:auto;
    @include flex-direction(column);
  }
  .main-nav__item{
    @include flex-direction(row);
    width:auto;
    padding: $inuit-base-spacing-unit;
  }
  .navbar-item{
    @include flex-grow(1);
    text-align: left;
    padding-left: $inuit-base-spacing-unit--small;
  }
}
@media (min-width: $portable) {
  .main-nav__item{
    font-size:$inuit-heading-size-4;
  }
}