a {
  color: $blue-dark;
}

.link--black {
  color: $gray-dark;
}

.link-spacer {
  padding-right: $inuit-base-spacing-unit--small;
}

.link-spacer--btn {
  margin-right: $inuit-base-spacing-unit--small;
}

.link--alert {
  display: inline-block;
  background: none;
  border: none;
  color: $alert-danger-bg;
  text-decoration: underline;
}


.box__item>a:first-child,.box__item>p:first-child,.box__item>span:first-child {
  min-width: percentage(340/451);
  display: inline-block;
}
.box__item--small>a:first-child {
  min-width: percentage(300/451);
}
