/*------------------------------------*\
    #header style
\*------------------------------------*/
.big-page-hader {
  font-weight: bold;
  text-align: center;
  font-size: $inuit-heading-size-1*2;

}