/*------------------------------------*\
    #welcome page
\*------------------------------------*/
.vertical-align-header {

}

.welcome-container {
  margin-top: $inuit-base-spacing-unit--huge;
  background: #000;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.75);
}

.welcome-form {
  background: $white;
  border: $border;
  padding: $inuit-base-spacing-unit--large;
  padding-right: $inuit-base-spacing-unit--huge;
  padding-top: $inuit-base-spacing-unit;
}

@media screen and (min-width: 500px) {
  .welcome-form {
    min-width: 500px;
  }
}