/*------------------------------------*\
    #Message box
\*------------------------------------*/
.message-box{
  margin-top: $inuit-base-spacing-unit--small;
  padding: $inuit-base-spacing-unit--small;
  @extend .border;
  @extend .floating-placeholder;
}