/*------------------------------------*\
    #.register-callout-user-register
\*------------------------------------*/
.register-callout-user-register {
  position: absolute;
  right: -$inuit-base-spacing-unit--huge*2;
  top: 0;
}