/*------------------------------------*\
    #welcome page
\*------------------------------------*/

.welcome{
  min-height: 100vh;
}
.vertical-align-header{

}
.welcome-logo{

}
.welcome-form{
  margin: 0 auto;
  max-width: 600px;
  background: $white;
  border: $border;
  padding: $inuit-base-spacing-unit--large;
  padding-right: $inuit-base-spacing-unit--huge;
  padding-top: $inuit-base-spacing-unit;
}
@media screen and (min-width:500px) {
  .welcome-form{
    min-width: 500px;
  }
}