.article{
  margin-bottom: $inuit-base-spacing-unit--small;
}
.article-container{
  margin-bottom: $inuit-base-spacing-unit--large;
}
.article__header{
  margin-bottom: $inuit-base-spacing-unit--small;
  font-size: $inuit-heading-size-1;
  font-weight:200;
  line-height: 1;
}
.article__header--logo{
  svg{
    margin-right: 3px;
  }
}
.article__header--main{
  color: $blue-dark;
  font-weight:normal;
}


.article__header__meta{
  font-size:$inuit-heading-size-4;
}
.article__body{
  margin-bottom: $inuit-base-spacing-unit;
}

@media (min-width: $lap) {
.article--small--right{
    padding-right:$inuit-base-spacing-unit--huge*2 ;
}
.article--small--left{
    padding-left:$inuit-base-spacing-unit--huge*2 ;
}

}
@media (min-width: $lap) {
  .article__body+.article__body{
    margin-top: -1.2rem;
  }
}