.toogle-filter-result--close+.filter-result{
  height: 0;
  overflow: hidden;
}
.filter-result{
  margin-bottom: $inuit-base-spacing-unit--small;
  @include flexbox();
  @include flex-direction(column);
}
.filter-result__item--submit{
  .filter-result__item--submit__btn{
    width: 100%;
  }
}
.filter-result__item{
  margin: $inuit-base-spacing-unit--small 0;
  position: relative;
}


@media (min-width: $portable) {
  .filter-result--small{
    width: 50%;
  }
}
@media (min-width: 1437px) {
  .filter-result{
    @include flex-direction(row);
  }
  .filter-result__item--nbr-result{
    min-width: 120px;
  }
  .filter-result__item{
    margin-right:$inuit-base-spacing-unit--small;
    @include flex-grow(1);
    &:first-of-type{
      max-width:70px;
    }
  }
  .filter-result__item--submit{
    margin-right:0;
  }
}
