/*------------------------------------*\
    #welcome page
\*------------------------------------*/

.welcome{
  min-height: 100vh;
}
.vertical-align-header{

}
.welcome-logo{

}
.welcome-form{
  margin: 0 auto;
  max-width: 500px;
  background: $white;
  border: $border;
  padding: $inuit-base-spacing-unit--large;
}