/*------------------------------------*\
    #form style
\*------------------------------------*/

.form-group{
  position: relative;
  margin-bottom: $inuit-base-spacing-unit;
}

.simple-label {

}
.label-paceholder{
  position: absolute;
  left: $inuit-base-spacing-unit--small;
  top: $inuit-base-spacing-unit--small/2;
  font-size: $inuit-heading-size-4;
}
input:focus+.label-paceholder,textarea:focus+.label-paceholder,input:active+.label-paceholder,.active+.label-paceholder{
  @extend .transition;
  top: -$inuit-base-spacing-unit--small;
  background: white;
  color: $red;
}
input[type=text]:focus,input[type=text]:active,textarea:focus,textarea:active{
  @extend .transition;
  border-color: $red;
}

.form-group {
  display: block;
}

.simple-select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: $border;
  max-width: 200px;
}
.form-group--large__submit,.form-group--large__input{
  width: 100%;
}
.input-small{
  background: purple;
}
@media screen and  (min-width: $lap){
  .form-group--large{
    min-height: 200px;
  }
  .form-group--large__input{
   position: absolute;
    top: 0;
    bottom: 0;
    width: percentage(1368.3/1547);
    max-width: none;
  }
  .form-group--large__submit{
    position: absolute;
    right: 0;
    width: 10%;
    top: 0;
    bottom: 0;
    min-width: 0;
  }
}
