/*------------------------------------*\
    #box
\*------------------------------------*/

.meta-time{
      color: $beige;
      padding-right: $inuit-base-spacing-unit--tiny;
      text-decoration: none;
}