/*------------------------------------*\
    #profile pictures
\*------------------------------------*/
.profile-container {
  >div {
    background: $white;
  }
}
.profile-container__box{
  min-height: 0;
}
.profile-picture {
  max-width: 50px;
  border: $border--bold;
  margin-bottom: $inuit-base-spacing-unit--small;
}

.profile-picture--present {
  border: $border--succes--bold;
}

.profile-picture--absent {
  max-width: 150px;
  border: $border--alert--bold;
}

.profile-name {
  display: block;
}
