/*------------------------------------*\
    #box
\*------------------------------------*/

.box-container {
  margin-top: $inuit-base-spacing-unit--large;
  ul, ol {
    list-style-type: none;
    min-height: 230px;
  }
}

.box {
  padding: $inuit-base-spacing-unit--tiny $inuit-base-spacing-unit;
  @include prefix(border-radius, .2em);
  margin-bottom: $inuit-base-spacing-unit;
  background: $white;
  border: $border--white--bold;
}

.box__item {
  margin-bottom: $inuit-base-spacing-unit--small;
}

.box--succes {
  padding: $inuit-base-spacing-unit;
  @include prefix(border-radius, .5em);
  border: $border--succes--bold;

}

.box-container__item {

}

.box--create {
  border: $border--dashed--bold;

}
.box__meta-info{
  color: $gray-light;
}
