/*------------------------------------*\
    #BTN
\*------------------------------------*/

.btn {
  cursor: pointer;
  @include prefix(border-radius, .2em);
  @extend .transition;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  position: relative;
  border: 1px solid transparent;
  background: $blue-dark;
  &:hover, &:focus {
    border-color: $blue-dark;
    background: transparent;
    color: $blue-dark;
  }
}

.btn--blue-svg:hover {
  .svg--white {
    fill: $blue-dark;
  }
}

.btn--red-svg:hover {
  .svg--white {
    fill: $red;
  }
}

.btn--soft {
  @include prefix(border-radius, 2em)
}

.btn--white, .btn--white--active:hover {
  background: transparent;
  border: $border;
}

.btn--white--active:hover {
  color: white;
}

.btn--white:hover, .btn--white--active {
  background: white;
  color: $blue-dark;
}

.btn-link {
  color: $gray-dark;
  text-decoration: underline;
  font-weight: bold;
}

.btn-link--white {
  color: white;
}

.btn + .btn, .btn-link + .btn-link {
  margin-left: $inuit-base-spacing-unit;
}

.btn--alert {
  background: $red;
  color: white;
  border-color: transparent;
  &:hover, &:focus {
    color: $red;
    border-color: $red;
    background: transparent;
  }
}

.btn--add {
  font-size: 16px;
  margin-left: $inuit-base-spacing-unit;
}

.btn-container {
  padding: $inuit-base-spacing-unit;
}
.btn--social{
  line-height: 16px;
 vertical-align: top;
}
.btn--social:hover .btn--social__message {
  width: 80px;
  height: auto;
}

.btn--social__message {
  width: 0;
  display: inline-block;
  overflow: hidden;
  height: 0;
  position: relative;
  top: -2px;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.btn--github {
  .btn--social__message {
    color: $github-bcg;
  }
  background: $github-bcg;
  &:hover, &:focus {
    border-color: $github-bcg;
    .svg--social {
      fill: $github-bcg;
    }
  }
}

.btn--facebook {
  .btn--social__message {
    color: $facebook-bcg;
  }
  background: $facebook-bcg;
  &:hover, &:focus {
    border-color: $facebook-bcg;
    .svg--social {
      fill: $facebook-bcg;
    }
  }
}

.btn--twitter {
  .btn--social__message {
    color: $twitter-bcg;
  }
  background: $twitter-bcg;
  &:hover, &:focus {
    border-color: $twitter-bcg;
    .svg--social {
      fill: $twitter-bcg;
    }
  }
}

.btn--google {
  .btn--social__message {
    color: $google-bcg;
  }
  background: $google-bcg;
  &:hover, &:focus {
    border-color: $google-bcg;
    .svg--social {
      fill: $google-bcg;
    }
  }
}
