/*------------------------------------*\
    #div.google-visualization-tooltip
\*------------------------------------*/

html .google-visualization-tooltip{
  background: $blue-dark ;
  font-size: $inuit-heading-size-6;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
div.google-visualization-tooltip > ul > li > span {
    color: white !important ;
  font-family:$base-fon-family;
}