/*------------------------------------*\
    #informative-box
\*------------------------------------*/

.informative-box{
      text-align: center;
}
.informative-box__text{
      margin: $inuit-base-spacing-unit 0 $inuit-base-spacing-unit--small;
}