/*------------------------------------*\
    #main header
\*------------------------------------*/

.main-header{
  background: $white;;
  position: fixed;
  padding-left: 16.6666666667%;
  left: 0;
  right: 0;
  max-height: $inuit-base-spacing-unit--large;
  color: $blue-dark;
  z-index: 1;
}
.main-header .layout{
  padding-left: 0;
}
.header-meta{
  color: $blue-dark;
}
.header-meta__item{
  display: block;
}
.logo{
  line-height:$inuit-base-spacing-unit--large;
  background: $white;
  padding-left: $inuit-base-spacing-unit--large;
}
.logo__item{
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
}
@media screen and (max-width: 1266px){
  .logo__item{
    @include accessibility;
  }
  .logo{
    height: $inuit-base-spacing-unit--large;
  }
}