/*------------------------------------*\
    #main header
\*------------------------------------*/

.main-header{
  background:$blue-dark;
  position: fixed;
  left: -5px;
  right: 0;
  max-height: $inuit-base-spacing-unit--large;
  color: white;
  z-index: 11;
}
.header-meta{
  color: white;
}
.header-meta__item{
  display: block;
}
.logo{
  line-height:$inuit-base-spacing-unit--large;
  background: $red;
  padding-left: $inuit-base-spacing-unit--large;
}
.logo__item{
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
}
@media screen and (max-width: 1266px){
  .logo__item{
    @include accessibility;
  }
  .logo{
    height: $inuit-base-spacing-unit--large;
  }
}