/*------------------------------------*\
    #form style
\*------------------------------------*/

.form-group{
  position: relative;
  margin: $inuit-base-spacing-unit 0;
}

.simple-label {

}
.label-paceholder{
  position: absolute;
  left: $inuit-base-spacing-unit--small;
  top: $inuit-base-spacing-unit--small/2;
  font-size: $inuit-heading-size-4;
}
input:focus+.label-paceholder,textarea:focus+.label-paceholder,input:active+.label-paceholder,.active+.label-paceholder{
  @extend .transition;
  top: -$inuit-base-spacing-unit--small;
  background: white;
  color: $red;
}
input[type=text]:focus,input[type=text]:active,textarea:focus,textarea:active{
  @extend .transition;
  border-color: $red;
}

.form-group {
  display: block;
}

.simple-select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: $border;
}
.form-group--large__submit,.form-group--large__input{
  width: 100%;
}
html .input-search-header {
  padding-top: $inuit-base-spacing-unit--small/2 ;
  padding-bottom: $inuit-base-spacing-unit--small/2 ;
  margin-top: 6px;
  color: $blue-dark;
}

@media screen and  (min-width: $lap){
  .form-group--large{
    min-height: 200px;
  }
  .form-group--large__input{
   position: absolute;
    top: 0;
    bottom: 0;
    width: percentage(1368.3/1547);
    max-width: none;
  }
  .form-group--large__submit{
    position: absolute;
    right: 0;
    width: 10%;
    top: 0;
    bottom: 0;
    min-width: 0;
  }
}


.floating-placeholder {
  position: relative;
  max-width: 600px;
}
.floating-placeholder__label{
  position: absolute;
  background: white;
  top: -$inuit-base-spacing-unit--small;
  left: $inuit-base-spacing-unit--tiny;
  padding: 0 $inuit-base-spacing-unit--small;
  white-space: nowrap;
  z-index: 1;
  padding-left:$inuit-base-spacing-unit--tiny;
}
.floating-placeholder__label--blue{
  background:$blue-dark;
}
.floating-placeholder__input{
  background: transparent;
  width: 100%;
}



