/*------------------------------------*\
    #header style
\*------------------------------------*/
.big-page-header {
  margin-top: $inuit-base-spacing-unit;
  font-weight: lighter;
  text-align: center;
  font-size: $inuit-heading-size-1*2;
}
.header_note{
  padding-left: $inuit-base-spacing-unit;
}
.box-header--big{
  min-height: 100px;
}
.box-header{
  font-weight: 300;
  color: $blue-dark;
  display: block;
  a{
  text-decoration: none;
  }
  text-decoration: none;
}
.header--white{
  color: white;
}