/*------------------------------------*\
    #box
\*------------------------------------*/

.box-container{
  margin-top: $inuit-base-spacing-unit--large;
  ul,ol{
    list-style-type: none;
    min-height: 230px;
  }
}

.box{
  padding: $inuit-base-spacing-unit;
  @include prefix(border-radius,.5em);
  border:$border;

}
.box-container__item{

}