/*------------------------------------*\
    #header
\*------------------------------------*/
// TODO: fixe width
@media (min-width: 480px){
  .main-header{

  }
}

/*------------------------------------*\
    #main nav
\*------------------------------------*/


.main-nav{
background: $blue-dark;
  position: fixed;
  top: 0;
  bottom: 0;
}
.main-content{
  margin-left: 16.6666666667%;
  margin-top: 70px;
  padding-right: $inuit-base-spacing-unit;
}


