/*------------------------------------*\
    #form style
\*------------------------------------*/

.form-group{
  position: relative;
  margin: $inuit-base-spacing-unit 0;
}

.simple-label {

}
.label-paceholder{
  position: absolute;
  left: $inuit-base-spacing-unit--small;
  top: $inuit-base-spacing-unit--small/2;
  font-size: $inuit-heading-size-4;
}
input:focus+.label-paceholder,textarea:focus+.label-paceholder,input:active+.label-paceholder,.active+.label-paceholder{
  @extend .transition;
  top: -$inuit-base-spacing-unit--small;
  background: white;
  color: $red;
}
input[type=text]:focus,input[type=text]:active,textarea:focus,textarea:active{
  @extend .transition;
  border-color: $red;
}

.form-group {
  display: block;
}

.simple-select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: $border;
  max-width: 200px;
}
.form-group--large__submit,.form-group--large__input{
  width: 100%;
}
html .input-search-header {
  padding-top: $inuit-base-spacing-unit--small/2 ;
  padding-bottom: $inuit-base-spacing-unit--small/2 ;
  margin-top: 6px;
}
@media screen and  (min-width: $lap){
  .form-group--large{
    min-height: 200px;
  }
  .form-group--large__input{
   position: absolute;
    top: 0;
    bottom: 0;
    width: percentage(1368.3/1547);
    max-width: none;
  }
  .form-group--large__submit{
    position: absolute;
    right: 0;
    width: 10%;
    top: 0;
    bottom: 0;
    min-width: 0;
  }
}


.floating-placeholder {
  line-height: 2.8em;
  min-height: 3em;
  width: 100%;
  margin-top: $inuit-base-spacing-unit--large;
}

.floating-placeholder input:focus + label {
  color: $red;
}

.floating-placeholder {
  position: relative;
}

.floating-placeholder input {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: transparent;
  z-index: 2;
  text-indent: 20px;
  padding-top: $inuit-base-spacing-unit--small;
  padding-left: 0;
}

.floating-placeholder label {
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 20pt;
  z-index: 1;
  -moz-transform-origin: 0 0em;
  -ms-transform-origin: 0 0em;
  -webkit-transform-origin: 0 0em;
  transform-origin: 0 0em;
  -moz-transition: -moz-transform 160ms, color 200ms;
  -o-transition: -o-transform 160ms, color 200ms;
  -webkit-transition: -webkit-transform 160ms, color 200ms;
  transition: transform 160ms, color 200ms;
  -moz-transform: scale(1, 1) rotateY(0);
  -ms-transform: scale(1, 1) rotateY(0);
  -webkit-transform: scale(1, 1) rotateY(0);
  transform: scale(1, 1) rotateY(0);
  white-space: nowrap;
}

.floating-placeholder-float label {
  -moz-transform: scale(0.7, 0.7) rotateY(0) translateY(-$inuit-base-spacing-unit--large*0.8);
  -ms-transform: scale(0.7, 0.7) rotateY(0) translateY(-$inuit-base-spacing-unit--large*0.8);
  -webkit-transform: scale(0.7, 0.7) rotateY(0) translateY(-$inuit-base-spacing-unit--large*0.8);
  transform: scale(0.7, 0.7) rotateY(0) translateY(-$inuit-base-spacing-unit--large*0.8);
  z-index: 100;
  background:white;
  padding: $inuit-base-spacing-unit--small/2;
}
.floating-placeholder-float--blue label{
  background:$blue-dark;
}
.floating-placeholder-float--huge input {
  max-width: none;
  min-width: 430px;
}




