/*------------------------------------*\
    #main-content
\*------------------------------------*/



.main-content {
  margin-left: 16.6666666667%;
  margin-top: $inuit-base-spacing-unit--large;
  padding-right: $inuit-base-spacing-unit;
}
html{
  background:$beige-light;
}


