.tab-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.nav-tab-container{

}

.one-tab-container {
  height: 0;
  overflow: hidden;

}
.one-tab-container--active{
  height: auto;
}
.nav-tabs{
  @include flexbox();
  @include flex-direction(column)
}
.nav-tabs__item {
  @include flex-grow(1);
  padding: $inuit-base-spacing-unit--small $inuit-base-spacing-unit;
  background: $white;
  text-decoration: none;
}

.nav-tabs .nav-tabs__item--active {
  color: white;
  background: $blue-dark;
  &:active{
    color: white;
  }
}
.nav-tabs__item{
  background: $beige-light;
  border: $border--blue;
  background: $white;
  &:first-of-type{
    -webkit-border-radius: $btn-default-border-radius $btn-default-border-radius 0 0;
    -moz-border-radius: $btn-default-border-radius $btn-default-border-radius 0 0;
    border-radius: $btn-default-border-radius $btn-default-border-radius 0 0;
  }
}
.nav-tabs__item+.nav-tabs__item{
  border-top: none;
}
@media (min-width: $palm) {
  .nav-tabs{
    @include flex-direction(row)
  }
  .nav-tabs__item {
    @include flex-grow(1);
    border: $border--blue;
    border-bottom: $border--blue--bold;
    -webkit-border-radius: $btn-default-border-radius $btn-default-border-radius 0 0;
    -moz-border-radius: $btn-default-border-radius $btn-default-border-radius 0 0;
    border-radius: $btn-default-border-radius $btn-default-border-radius 0 0;
  }
  .nav-tabs__item+.nav-tabs__item{
    border-top: $border--blue;
    border-left: none;
  }
}
