/*
* define all the colors I need for this application
*/

$gray-lighter:rgb(237,237,237);
$gray-light:hsl(224, 37%, 88%);
$gray-dark:rgb(73, 73, 73);
$beige:#A9A9A9;
$beige-dark:rgb(51, 51, 51);
$beige-light:rgb(239, 242, 247);
$red: #E91E63;
$blue-lighter:#5A8DFF;
$blue-light:#5983FE;
$blue-dark:#2727CC;
$succes: #2fc85a;
$white: hsl(240, 100%, 100%);

$bs-datetimepicker-timepicker-font-size: 1.2em !default;
$bs-datetimepicker-active-bg:  $blue-dark ;
$bs-datetimepicker-active-color: $white ;
$bs-datetimepicker-border-radius: 0.3em ;
$bs-datetimepicker-btn-hover-bg: $beige-light ;
$bs-datetimepicker-disabled-color: $red ;
$bs-datetimepicker-alternate-color: #6e6e6e;
$bs-datetimepicker-secondary-border-color: #ccc ;
$bs-datetimepicker-secondary-border-color-rgba: rgba(0, 0, 0, 0.2) ;
$bs-datetimepicker-primary-border-color: white ;
$bs-datetimepicker-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) ;


// social colors


$github-bcg:rgb(128, 0, 128);
$facebook-bcg:#3C5A99;
$twitter-bcg:#28A9E0;
$google-bcg:rgb(255, 2, 50);

