/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/


$inuit-btn-background:      $blue-dark;
$inuit-btn-color:           $beige-light;
$inuit-btn-border-width:    1px;
$inuit-btn-border-style:    solid;
$inuit-btn-border-color:    $inuit-btn-background;
$inuit-btn-radius:          0;

$inuit-enable-btn--small:   true;
$inuit-enable-btn--large:   true;
$inuit-enable-btn--full:    true;
$inuit-enable-btn--pill:    true;