$border: 1px solid $gray-light;
$border--bold: 2px solid $gray-light;
$border--dashed: 2px dashed $gray-light;
$border--dashed--bold: 2px dashed $gray-light;
$border--succes: 1px solid $succes;
$border--succes--bold: 2px solid $succes;
$border--white: 1px solid $white;
$border--white--bold: 2px solid $white;
$border--white--bold--dashed: 2px dashed $white;
$border--blue: 1px solid $blue-dark;
$border--blue--bold: 2px solid $blue-dark;
$border--alert: 1px solid $red;
$border--alert--bold: 2px solid $red;
$border-radius: .5em;
