/*------------------------------------*\
    #alert
\*------------------------------------*/



$state-success-text:             $gray-lighter;
$state-success-bg:               $succes ;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                $gray-lighter;
$state-info-bg:                  $blue-dark;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:             $blue-dark;
$state-warning-bg:               $gray-light;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:              $gray-lighter;
$state-danger-bg:                $red;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);


$alert-padding:               $inuit-base-spacing-unit--small;
$alert-border-radius:         0.2em;
$alert-link-font-weight:      bold;

$alert-success-bg:            $state-success-bg;
$alert-success-text:          $state-success-text;
$alert-success-border:        $state-success-border;

$alert-info-bg:               $state-info-bg;
$alert-info-text:             $state-info-text;
$alert-info-border:           $state-info-border;

$alert-warning-bg:            $state-warning-bg;
$alert-warning-text:          $state-warning-text;
$alert-warning-border:        $state-warning-border;

$alert-danger-bg:             $state-danger-bg;
$alert-danger-text:           $state-danger-text;
$alert-danger-border:         $state-danger-border;
