/*
* define all the colors I need for this application
*/

$gray-lighter:rgb(237,237,237);
$gray-light:rgb(170,170,170);
$beige:rgb(204,204,185);
$beige-light:rgb(255,255,242);
$red: rgb(246, 90, 93);
$blue-dark: rgb(38, 57, 77);
$succes: #2fc85a;
