/*
* define all the colors I need for this application
*/

$gray-lighter:rgb(237,237,237);
$gray-light:rgb(181, 196, 215);
$gray-dark:rgb(73, 73, 73);
$beige:rgb(204,204,185);
$beige-dark:rgb(51, 51, 51);
$beige-light:rgb(239, 242, 247);
$red: #E34A78;
$blue-lighter:rgb(185, 208, 250);
$blue-light:rgb(27%, 52%, 90%);
$blue-dark:rgb(26%, 52%, 89%);
$succes: #2fc85a;
$white: rgb(255, 255, 255);