/*
* define all the colors I need for this application
*/

$gray-lighter:rgb(237,237,237);
$gray-light:hsl(224, 37%, 88%);
$gray-dark:rgb(73, 73, 73);
$beige:rgb(204,204,185);
$beige-dark:rgb(51, 51, 51);
$beige-light:rgb(239, 242, 247);
$red: #E34A78;
$blue-lighter:rgb(185, 208, 250);
$blue-light:hsl(243, 71%, 39%);
$blue-dark:hsl(243, 71%, 39%);
$succes: #2fc85a;
$white: hsl(240, 100%, 100%);


// social colors


$github-bcg:rgb(128, 0, 128);
$facebook-bcg:#3C5A99;
$twitter-bcg:#28A9E0;
$google-bcg:rgb(255, 2, 50);