$inuit-widths-columns: (
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12
);
$inuit-widths-columns-responsive: (
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12
);
$breakpoints: (
        'palm' '(max-width: 480px)',
        'lap' '(min-width: 481px) and (max-width: 1023px)',
        'portable' '(max-width: 1023px)',
        'desk' '(min-width: 1024px)'
);
$wrapper:1200px;
$wrapper--wide:1440px;