/*------------------------------------*\
    #welcome displau errors
\*------------------------------------*/

.error-message-container {
  list-style-type: none;
  position: relative;
  top: -2px;
}
.error-message-container__message{
  padding: $inuit-base-spacing-unit--tiny;
  background: $red;
  padding-left:$inuit-base-spacing-unit--small;
 }

.error-message-container__message:last-child{
  @include prefix(border-radius, 0 0 .5em .5em);
}
.error-field{
  @extend .floating-placeholder;
}